
.todo {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3em;
}

.todo button {
    background: #c73339;
    color: #FFF;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #ccc;
    height: 100%;
    font-size: 14px;
    width: 6em;
    border-radius: 3px;
}
.todo button:hover {
    background: #f13339;
}

.todo-name-input:disabled {
    text-decoration: line-through;
}

.todo-name-input {
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 18px;
    margin: 0;
    text-indent: 1em;
    border: none;
    box-shadow: 0px 0px 0px 1px #b5b5b5;
    border-radius: 3px;
}
.todo-name-input-col {
    flex: 1;
}
.todo-delete-col {
    margin-left: 0.5em;
}
